.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
_! temp !.scss
Mishka Index Mobile Menu.png
Mishka Index Tablet.png
Mishka index Desktop.png
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db
