/*--------------------------------- CONTAINER/КОНТЕЙНЕР ------------------------------------------*/
.container {
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

/*--------------------------------- CONTAINER/КОНТЕЙНЕР - ПЛАНШЕТ ------------------------------------------*/

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*--------------------------------- CONTAINER/КОНТЕЙНЕР - ДЕСКТОП ------------------------------------------*/

@media (min-width: $desktop-width) {
  .container {
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
