// ФУТЕР ССЫЛКА И ЛОГО НА

.copyright {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  vertical-align: baseline;

  .copyright__text {
    color: $color-text-main;
    font-size: 19px;
    font-weight: 700;
    line-height: 0.95;
    letter-spacing: normal;
    text-align: left;
    padding-right: 28px;
  }

  .copyright__HA--logo {
    margin-top: -5px;
  }

  &:hover .copyright__HA--logo {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    justify-content: flex-end;
    width: 206px;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 45px;
    width: 397px;
    padding-top: 10px;
  }
}
