.copyright {
  display: flex;

  .copyright__text {
    color: $color-text-main;
    font-size: 19px;
    font-weight: 700;
    line-height: 0.95;
    letter-spacing: normal;
    text-align: left;
    padding-top: 58px;
    padding-left: 69px;
  }

  .copyright_link {
    padding-left: 30px;
  }
}
