/*--------------------------------- HEADING/ЗАГОЛОВКИ ---------------------------------------*/
.heading {
  font-weight: 700;
  font-style: normal;
  color: $color-text-main;
  margin: 0;

  &--primary {
    font-size: 27px;
    line-height: 1.11;
  }

  &--secondary {
    font-size: 25px;
    line-height: 1.2;
  }

  &--tertialy {
    font-size: 17px;
    line-height: 1.41;
  }
}

/*--------------------------------- HEADING/ЗАГОЛОВКИ - ПЛАНШЕТ ---------------------------------------*/

@media (min-width: $tablet-width) {
  .heading {
    &--primary {
      font-size: 43px;
      line-height: 1.16;
    }

    &--secondary {
      font-size: 43px;
      line-height: 1.16;
    }

    &--tertialy {
      font-size: 43px;
      line-height: 1.16;
    }
  }
}

/*--------------------------------- HEADING/ЗАГОЛОВКИ - ДЕСКТОП ---------------------------------------*/

@media (min-width: $desktop-width) {
  .heading {
    &--primary,
    &--secondary,
    &--tertialy {
      font-size: 53px;
      line-height: 1.08;
    }
  }
}
