.page-top {
  width: 320px;
  text-align: center;
  padding-top: 76px;

  &--index {
    min-height: 282px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-color: white; /*?--тут нужно указывать 'подстраховочный' цвет, если он белый?*/
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--catalog,
  &--form {
    height: 177px;
    background-color: $bg-top;
  }
}
