// ФУТЕР

.page-footer {
  width: 100%;
  min-height: 160px;
  background-color: $bg-footer;

  .page-footer__logo {
    display: none;
  }

  .page-footer__copyright {
    display: flex;
  }

  .page-footer__container {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*--------------------------------- ФУТЕР - ПЛАНШЕТ ---------------------------------------*/

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;

    .page-footer__container {
      @include container;
    }

    .page-footer__logo {
      display: block;
      height: 50px;

      &:hover {
        fill: #46c1ae;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  /*--------------------------------- ФУТЕР - ДЕСКТОП ---------------------------------------*/

  @media (min-width: $desktop-width) {
    margin-top: 0;

    .page-footer__container {
      @include container;
    }
  }
}
