/*--------------------------------- FOOTER/ ФУТЕР - ПЛАНШЕТ ---------------------------------------*/
.page-footer {
  width: 100%;
  min-height: 160px;
  background-color: $bg-footer;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  display: flex;
}

.page-footer__container {
  @include container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*--------------------------------- ФУТЕР - ПЛАНШЕТ ---------------------------------------*/

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 54px;
  }

  .page-footer__container {
    @include container;
  }

  .page-footer__logo {
    display: block;
    height: 50px;
    margin-right: 104px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

/*--------------------------------- ФУТЕР - ДЕСКТОП ---------------------------------------*/

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 0;
  }

  .page-footer__container {
    @include container;
  }

  .page-footer__logo {
    margin-right: 100px;
  }

  .page-footer__icon-htmlacademy {
    top: 13px;
    right: -7px;
  }
}
