// ФУТЕР

.page-footer {
  width: 100%;
  min-height: 160px;
  background-color: $bg-footer;
  margin-top: 40px;

  .page-footer__logo {
    display: none;
  }

  .page-footer__copyright {
    display: flex;
  }

  .page-footer__container {
    @include container320;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*--------------------------------- ФУТЕР - ПЛАНШЕТ ---------------------------------------*/

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 58px;
    padding-top: 50px;

    .page-footer__container {
      @include container768;
    }

    .page-footer__logo {
      display: block;

      &:hover {
        fill: #46c1ae;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  /*--------------------------------- ФУТЕР - ДЕСКТОП ---------------------------------------*/

  @media (min-width: $desktop-width) {
    margin-top: 106px;

    .page-footer__container {
      @include container1150;
    }
  }
}
