/*--------------------------------- PAGE HEADER / ШАПКА ---------------------------------------*/
.page-header {
  width: 320px;
  margin: 0 auto;
  background-color: $bg-main;
}

/*--------------------------------- PAGE HEADER / ШАПКА - ПЛАНШЕТ ---------------------------------------*/

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*--------------------------------- PAGE HEADER / ШАПКА - ДЕСКТОП ---------------------------------------*/

@media (min-width: $desktop-width) {
  .page-header {
    width: 1150px;
  }
}
