.proposals {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 34px;

  .proposals__list {
    list-style: none;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .proposals__item {
    padding-top: 30px;
    text-align: left;
    height: 103px;

    &--interior {
      background-color: $color-btn-add1;
    }

    &--toys {
      background-color: $color-btn-add2;
    }
  }

  .proposals__link {
    display: flex;
    flex-wrap: wrap;
    width: 110px;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.26;
    color: #ffffff;
    text-decoration: none;

    &--interior {
      background-color: $color-btn-add1;
    }

    &--toys {
      background-color: $color-btn-add2;
      margin-bottom: 34px;
    }
  }
}

@media (min-width: $tablet-width) {
  .proposals {
    width: 768px;
    margin-top: -119px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .proposals__list {
    display: flex;
  }

  .proposals__item {
    width: 50%;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .proposals {
    width: 1200px;
  }
}
