/*--------------------------------- PRODUCT CARD / КАРТОЧКА ТОВАРА ---------------------------------------*/
.product-card {
  text-align: left;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product-card__spec {
  padding: 25px 28px 28px 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.product-card__basket {
  display: inline-block;
  padding-top: 24px;
  opacity: 0.2;
  overflow: hidden;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover svg {
    fill: #63d1bb;
  }
}

.product-card__name {
  color: $color-text-main;

  &:hover {
    color: $color-text-main-hover;
  }

  &:active {
    color: $color-text-main-active;
  }
}

.product-card__discription {
  display: block;
  font-size: 13px;
  font-weight: normal;
  line-height: 2.2;
  margin-top: 8px;
  padding-bottom: 19px;
  color: $color-text-paragraph;
}

.product-card__price {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  padding-top: 22px;
  width: 80px;
}

.product-card__img {
  vertical-align: bottom;
}

.product-card__buy {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

/*--------------------------------- PRODUCT CARD / КАРТОЧКА ТОВАРА - ПЛАНШЕТ ---------------------------------------*/

@media (min-width: $tablet-width) {
  .product-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-card__link {
    min-width: 334px;
  }

  .product-card__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }

  .product-card__spec {
    width: 334px;
  }

  .product-card__text {
    display: inline-block;
    min-height: 200px;
  }

  .product-card__discription {
    font-size: 15px;
    line-height: 2;
    margin-top: 5px;
  }

  .product-card__price {
    font-size: 17px;
    line-height: 1.41;
    padding-left: 6px;
    width: 100px;
  }

  .product-card__basket {
    padding-top: 24px;
    padding-right: 4px;
  }

  .product-card__buy {
    margin-top: 34px;
  }
}

/*--------------------------------- PRODUCT CARD / КАРТОЧКА ТОВАРА - ДЕСКТОП ---------------------------------------*/

@media (min-width: $desktop-width) {
  .product-card {
    display: flex;
    flex-direction: column;
  }

  .product-card__link {
    min-width: 316px;
    min-height: 462px;
  }

  .product-card__spec {
    width: 316px;
  }

  .product-card__buy {
    margin-top: 0;
  }

  .product-card__text {
    min-height: 97px;
  }

  .product-card__discription {
    padding-bottom: 0;
  }

  .product-card__price {
    padding-left: 0;
  }
}
