.production__container {
  @include container320;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.production__video {
  width: 260px;
  min-height: 150px;
  order: 2;
  background-color: aquamarine //временно
}

.production__text {
  order: 3;
}

@media (min-width: $tablet-width) {
  .production__container {
    @include container768;
  }

  .production__video {
    width: 668px;
    min-height: 455px;
    order: 1;
  }

  .production__container.header {
    order: 2;
  }

  .production__text {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  @include container1150;

  .production__container {
    flex-wrap: wrap;
  }
}
