.product-card {
  text-align: left;
  /*
  .product-card__text {

  }

  .product-card__link {

  }  */
  .product-card__name {
    &:hover {
      color: $color-text-main-hover;
    }

    &:active {
      color: $color-text-main-active;
    }
  }

  .product-card__discription {
    font-size: 13px;
    font-weight: normal;
    line-height: 2.31;
  }
  /*
  .product-card__buy {

  }*/

  .product-card__price {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
  }
  /*
  .product-card__basket {

  } */
}

@media (min-width: $tablet-width) {
  .product-card {
    display: flex;
    flex-direction: row;
  }

  .product-card__link {
    min-width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    display: flex;
    flex-direction: column;
  }

  .product-card__link {
    width: 316px;
    min-height: 462px;
    background-color: aqua;// временно
  }
}
