.social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 57px;
  padding-right: 57px;
  align-items: center;

  .social-list__item:not(:last-child) {
    margin-right: 41px;
  }

  .social-list__item svg {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 104px;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 293px;
    padding-top: 0;
  }
}
