.social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 27px 38px 23px;
  max-width: 260px;
  min-height: 30px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.social-list__item {
  width: 30px;
  text-align: center;
  margin: 0 15px;
}

.social-list__item svg {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__link {
  display: block;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
    border-bottom: none;
    padding: 0;
    max-width: 185px;
  }
}
