//COLORS

$bg-main:#ffffff;
$bg-top:#f9f9f9;
$bg-footer:#f1f1f1;

$color-text-main:#000000;
$color-text-main-hover:rgba(0, 0, 0, 0.6);
$color-text-main-active:rgba(0, 0, 0, 0.3);
$color-text-add:#ffffff;
$color-text-add-active:rgba(255, 255, 255, 0.3);

$color-text-paragraph:#444444;


$color-btn-border:#444444;
$color-btn-main:#ffffff;
$color-btn-main-hover:#444444;


$color-btn-add1: #63d1bb;
$color-btn-add1-hover:#59d5bc;
$color-btn-add2: #56c3b2;
$color-btn-add2-hover: #46c1ae;

//VIEWPORT

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*
$blue-base: #66ccff;
$blue-green:#149080;
$seafoam-blue: #63d1bb;
$greyish-brown-30:  rgba(68, 68, 68, 0.3);
$black-60: rgba(0, 0, 0, 0.6);
$very-dark-brown: #010000;
$brown: #444444;
$white: #ececec;
$greeny-blue: #56c3b2;
$gray-light: #f1f1f1;
*/
